typeattribute mctl coredomain;
typeattribute mctl domain_deprecated;

init_daemon_domain(mctl)

allow mctl surfaceflinger_service:service_manager { find };
allow mctl mediacodec_service:service_manager { find };
allow mctl mediaserver_service:service_manager { find };
allow mctl mediametrics_service:service_manager { find };
allow mctl batterystats_service:service_manager { find };
allow mctl input_service:service_manager { find };
allow mctl zebra_service:service_manager { find add };