typeattribute mobilectl coredomain;
typeattribute mobilectl domain_deprecated;

init_daemon_domain(mobilectl)

allow mobilectl surfaceflinger_service:service_manager find;
allow mobilectl mediacodec_service:service_manager find;
allow mobilectl mediaserver_service:service_manager find;
allow mobilectl mediametrics_service:service_manager find;
allow mobilectl batterystats_service:service_manager find;