allow mobilectl port:tcp_socket { bind name_bind node_bind };
allow mobilectl port:udp_socket { bind name_bind node_bind };
allow mobilectl node:tcp_socket { bind name_bind node_bind };
allow mobilectl node:udp_socket { bind name_bind node_bind };
allow mobilectl mobilectl:tcp_socket { create read write getopt getattr bind name_bind node_bind accept listen shutdown connect};
allow mobilectl mobilectl:udp_socket { create read write getopt getattr bind name_bind node_bind accept listen shutdown connect};
allow mobilectl mobilectl:capability { net_raw };
allow mobilectl fwmarkd_socket:sock_file { write };
allow mobilectl netd:unix_stream_socket { connectto };
allow mobilectl surfaceflinger:binder { call transfer };
allow mobilectl system_server:binder { call transfer };
allow mobilectl servicemanager:binder { call transfer };
allow mobilectl mediametrics:binder { call transfer };
allow mobilectl mediaserver:binder { call transfer };
allow mobilectl mediacodec:binder { call transfer };
allow mobilectl input_device:chr_file { open read write };
allow mobilectl input_device:dir search;
allow mobilectl shell_exec:file { read open execute execute_no_trans };
allow mobilectl zygote_exec:file { getattr };

avc: denied { shutdown } for scontext=u:r:mobilectl:s0 tcontext=u:r:mobilectl:s0 tclass=tcp_socket permissive=0
2021-10-11 10:48:06.107 8326-8326/? W/mobilectl: type=1400 audit(0.0:338): avc: denied { connect } for scontext=u:r:mobilectl:s0 tcontext=u:r:mobilectl:s0 tclass=tcp_socket permissive=0
2021-10-11 10:48:09.827 8326-8326/? W/mobilectl: type=1400 audit(0.0:340):

allow netd mobilectl:fd { use };
allow netd mobilectl:tcp_socket { read write getopt setopt };
allow hal_audio_default mobilectl:unix_stream_socket { connectto };
allow servicemanager mobilectl:dir { search };
allow servicemanager mobilectl:file { read open };
allow servicemanager mobilectl:process { getattr };
allow surfaceflinger mobilectl:binder { call transfer };
allow mediaserver mobilectl:binder { call transfer };
allow mediacodec mobilectl:fd { use };
allow mediacodec mobilectl:binder { call transfer };
