type vlte, domain;
type vlte_exec, system_file_type, exec_type, file_type;

allow vlte self:capability { sys_module setuid setgid sys_admin net_raw net_admin chown };
allow vlte self:netlink_route_socket { read write create setopt bind getattr nlmsg_write };
allow vlte self:udp_socket { create ioctl };
allow vlte shell_exec:file rx_file_perms;
allow vlte toolbox_exec:file { getattr execute read open execute_no_trans };
allow vlte kernel:key search;
allow vlte system_file:netlink_route_socket { create setopt bind getattr};
allow vlte system_file:file execute_no_trans;
allow vlte netd:unix_stream_socket connectto;
allow vlte property_socket:sock_file write;
allow vlte sysfs_wlan_fwpath:file { open write };
allow vlte init:unix_stream_socket connectto;
allow vlte wifi_data_file:dir { search write add_name };
allow vlte wifi_data_file:file { create read write open setattr};
allow vlte ctl_default_prop:property_service set;
allow vlte system_prop:property_service set;
allow vlte dhcp_prop:property_service set;
allow vlte system_radio_prop:property_service set;
allow vlte zygote_exec:file { getattr execute read open execute_no_trans };
allow vlte dalvikcache_data_file:dir { getattr search };
allow vlte dalvikcache_data_file:file { getattr read open lock };
allow vlte dalvikcache_data_file:lnk_file { getattr read };
allow vlte self:process execmem;
allow vlte ashmem_device:chr_file execute;
allow vlte servicemanager:binder call;
allow vlte radio_service:service_manager find;
allow vlte radio:binder call;

allow system_server vlte:unix_stream_socket { connectto read write setopt };

allow servicemanager vlte:dir search;
allow servicemanager vlte:file { read open };

# Create a socket for receiving info from wpa
allow vlte wpa_socket:dir create_dir_perms;
allow vlte proc_net:file { read open getattr };
allow vlte wpa_socket:sock_file create_file_perms;
allow vlte net_data_file:dir { search read };
allow vlte net_data_file:file { open read write getattr };