service vendor.zril-daemon /vendor/bin/hw/zrild -c 2 -l /vendor/lib64/libvlte.so
    class main
    user radio
    group radio cache inet misc audio log readproc wakelock
    capabilities BLOCK_SUSPEND NET_ADMIN NET_RAW
